In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [16]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x000001EBAC91D640>>
Traceback (most recent call last):
  File "C:\Users\ASUS\anaconda3\envs\YT-MLops-Proj1\Lib\site-packages\ipykernel\ipkernel.py", line 790, in _clean_thread_parent_frames
    active_threads = {thread.ident for thread in threading.enumerate()}
                                                 ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\ASUS\anaconda3\envs\YT-MLops-Proj1\Lib\threading.py", line 1535, in enumerate
    def enumerate():

KeyboardInterrupt:

KeyboardInterrupt:

In [14]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://vikashdas770:WtwsW3eh6T3J0h6z@cluster0.0aygk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [10]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://sowrabhslayer:C57WTbf2fbffhq2Z@cluster0.beaea93.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [17]:
client = pymongo.MongoClient("mongodb+srv://sowrabhslayer:C57WTbf2fbffhq2Z@cluster0.beaea93.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
data_base = client["Proj1"]
collection = data_base["Proj1-Data"]

In [18]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [19]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,687cafaf95a7f596ace3680f,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,687cafaf95a7f596ace36810,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0

In [ ]:
## If you are getting timeout issue

# import certifi
# client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
# # TO CREATE THE DATABASE
# data_base = client[DB_NAME]
# collection = data_base[COLLECTION_NAME]
# # TO INSERT DATA INTO THE COLLECTION
# rec = collection.insert_many(data)